<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Marcas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item-sliding *ngFor="let brand of brands" #slidingitem>
      <ion-item>
        {{ brand.name }}
      </ion-item>
      <ion-item-options side='right'>
        <button margin-right ion-button (click)="createOrEditBrand(brand)" color="primary">Editar</button>
        <button ion-button color="danger" (click)="deleteBrand(brand)">Excluir</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="!brands || !brands.length"><ion-icon color="danger" name="warning"></ion-icon>Você não possuí nenhuma marca cadastrada...</ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="createOrEditBrand()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>
